/*--------------------- MAKET ---------------------*/
body {
  /*background: url(../images/rees-215.png) 80px 0px;*/
}

/*#wrap-all {*/
  /*opacity: 0.6;*/
/*}*/



.roboto {
  font-family: "Roboto", sans-serif;
}


#wrap-all {
  width: 100%;
  min-width: 100%;
  display: inline-table;
  padding-bottom: 40px;
}


body {
  background-color: #0e181e;
}


p, div, span, td {
  color: white;
}


div {
  box-sizing: border-box;
}


.container {
  box-sizing: border-box;
  height: 500px;
}


.grey-text {
  color: #9c9c9c;
}


.mini-text {
  font-size: 9px;
  line-height: 11px;
}


.bigger-font {
  font-size: 47px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}


header #navbar {
  background-color: #0a1216;
  height: 60px;
  margin-bottom: 80px;
}

header .right-bar {
  padding-top: 20px;
}

header .right-bar span {
  font-size: 12px;
  margin-left: 20px;
}

header .right-bar span:last-child {
  margin-right: 22px;
}

header .right-bar .config {
  margin-right: 5px;
  background: url(../images/icons/config.png) no-repeat 0px;
  padding: 12px;
}

header #logo {
  width: 100px;
  height: 40px;
  margin-top: 15px;
  background: url(../images/icons/logo.png) no-repeat;
}


.blue-block {
  background-color: #203541;
  padding: 20px;
  padding-top: 11px !important;
}

.blue-block span.title {
  text-transform: uppercase;
}

.blue-block .dropdown {
  text-align: right;
  float: right;
  margin-top: 9px;
}

.blue-block .dropdown.fix-open .dropdown-menu {
  display: block;
}

.blue-block .dropdown .dropdown-toggle {
  background: transparent;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
  color: white;
  font-size: 11px;
  text-transform: uppercase;
  height: 18px;
  line-height: 4px;
  font-family: "Roboto", sans-serif;
}

.blue-block .dropdown .dropdown-toggle:focus {
  outline: none;
}

.blue-block .dropdown .caret {
  margin-left: -3px;
  margin-right: 3px;
  border-top: 5px solid white;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.blue-block .dropdown .dropdown-menu {
  left: auto;
  right: 2px;
  background: #28404e;
  border: none;
  box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.3);
}

.blue-block .dropdown .dropdown-menu li, .blue-block .dropdown .dropdown-menu li:hover {
  background: transparent;
}

.blue-block .dropdown .dropdown-menu li a, .blue-block .dropdown .dropdown-menu li:hover a {
  outline: none;
  text-transform: uppercase;
  font-size: 11px;
  color: #cccccc;
  padding: 0px 20px;
  font-family: "Roboto", sans-serif;
}

.blue-block .dropdown .dropdown-menu li a:focus, .blue-block .dropdown .dropdown-menu li a:hover, .blue-block .dropdown .dropdown-menu li:hover a:focus, .blue-block .dropdown .dropdown-menu li:hover a:hover {
  color: white;
  background-image: none;
  background: transparent;
  outline: none;
}

.blue-block .dropdown .dropdown-menu li input, .blue-block .dropdown .dropdown-menu li:hover input {
  font-size: 11px;
  text-align: right;
  width: 140px;
  margin-bottom: 10px;
  background: #3b5c6f;
  outline: none;
  border: 1px solid #243742;
  color: #cccccc;
  padding-right: 5px;
}

.blue-block .dropdown .dropdown-menu li input:hover, .blue-block .dropdown .dropdown-menu li:hover input:hover {
  color: white;
}


.block-header {
  display: table;
  width: 100%;
  height: 40px;
  margin-bottom: 9px;
}

.block-header .table-cell {
  display: table-cell;
  width: 15%;
}

.block-header .table-cell.center {
  width: 70%;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  vertical-align: middle;
}


hr {
  border: 0;
  border-top: 1px solid #273f4d;
  border-bottom: 1px solid #1b2833;
  margin: 0px;
}


#graphics-container {
  min-height: 320px;
  padding: 20px;
  padding-bottom: 15px;
}

#graphics-container .span4 {
  width: 325px;
}

#graphics-container .span8 {
  margin-left: 0px;
  padding-left: 38px;
}

#graphics-container .diagrams {
  margin-top: 38px;
}

#graphics-container .diagrams > div {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
}

#graphics-container .diagrams > div:last-child {
  margin-right: 0px;
}

#graphics-container #effect .table-cell {
  display: table-cell;
  width: 30%;
}

#graphics-container #effect .table-cell.center {
  width: 40%;
}


#sales .grey-text {
  width: 244px;
}


.navy-block {
  height: 40px;
  background-color: #182933;
  padding: 7px 20px;
}

#navy_square {
    width: 9px;
    height: 9px;
    border: 1px solid #9c9c9c;
    display: inline-block;
    margin-bottom: -3px;
    background-color: #254559;
}


.navy-block .one:before, .navy-block .two:before, .navy-block .three:before {
    content: '\2014';
    position: absolute;
    left: 1px;
    top: 1px;
    z-index: 10;
    color: #9c9c9c;
}

#blue_square {
    width: 9px;
    height: 9px;
    border: 1px solid #9c9c9c;
    display: inline-block;
    margin-bottom: -3px;
    background-color: #00aeef;
}

#white_square {
    width: 9px;
    height: 9px;
    border: 1px solid #9c9c9c;
    display: inline-block;
    margin-bottom: -3px;
    background-color: #fff;
}


.navy-block span.mini-text {
  position: relative;
  margin-right: 47px;
  padding-left: 10px;
}


#main-content .left-col {
  width: 360px;
}

#main-content .left-col .blue-block {
  margin-bottom: 10px;
}

#main-content .left-col .blue-block:last-child {
    margin-bottom: 0px;
}

#a-b-test {
  min-height: 200px;
}

#a-b-test .table-cell {
  display: table-cell;
  width: 40%;
}

#a-b-test .table-cell.center {
  width: 20%;
}

#a-b-test #spent-time {
  padding: 53px 6px 20px 6px;
}

#a-b-test #spent-time .days {
  margin-right: 15px;
}

#a-b-test #with-swither {
  margin-top: 15px;
  width: 83px;
  text-align: center;
}

#a-b-test #with-swither #back {
  background-color: #0e181e;
  height: 40px;
  width: 20px;
  margin: 10px 11px;
  margin-left: 31px;
  position: relative;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  cursor: pointer;
}

#a-b-test #with-swither #round {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -khtml-border-radius: 100px;
  background-color: #00aeef;
  box-shadow: 0px 0px 15px 2px #00aeef;
  -webkit-box-shadow: 0px 0px 15px 2px #00aeef;
  -moz-box-shadow: 0px 0px 15px 2px #00aeef;
  position: absolute;
  top: 0px;
}

#a-b-test #with-swither #round.off {
  top: 20px;
}

#a-b-test #with-swither .active {
  color: white;
}


#conversion, #profit, #average {
  min-height: 230px;
}

#conversion .wrap-auto, #profit .wrap-auto, #average .wrap-auto {
  min-width: 327px;
  padding: 20px;
  padding-top: 23px;
}

#conversion .margin-top-30, #profit .margin-top-30, #average .margin-top-30 {
    margin-top: 13px;
}

#conversion .wrap-auto .digit, #profit .wrap-auto .digit, #average .wrap-auto .digit {
  font-size: 23px;
  color: #6c757a;
  position: relative;
  margin-right: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
    float: left;
    margin-top: 4px
}

#conversion .procents, #profit .procents, #average .procents {
    width: 18px;
    height: 18px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
    z-index: 10;
    background-color: #6c757a;
    font-size: 12px;
    text-align: center;
    color: #203541;
    top: 6px;
    line-height: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    display: inline-block;
    margin-right: 8px;
    float: left;
    margin-top: 6px;
}

#conversion .wrap-auto .digit.big, #profit .wrap-auto .digit.big, #average .wrap-auto .digit.big {
  font-size: 58px;
  margin-right: 21px;
  float: left;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 14px;
    margin-top: 16px;
}

#conversion  .procents.big, #profit .procents.big, #average .procents.big {
    width: 42px;
    height: 42px;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
    font-size: 33px;
    line-height: 42px;
    background-color: #00aeef;
    display: inline-block;
    margin-right: 8px;
    float: left;
    margin-top: 4px;
}

#profit .procents, #average .procents {
    font-size: 9px !important;
    line-height: 17px;
}

#profit .procents.big, #average .procents.big {
    font-size: 17px !important;
    line-height: 39px;
}

#conversion .wrap-auto .text, #profit .wrap-auto .text, #average .wrap-auto .text {
  display: inline-block;
  width: 62px;
  margin-top: 4px;
  line-height: 10px;
  font-family: "Roboto", sans-serif;
}

#conversion .wrap-auto .text.big, #profit .wrap-auto .text.big, #average .wrap-auto .text.big {
  font-size: 14px;
  width: 78px;
  margin-top: 8px;
  line-height: 17px;
  text-transform: uppercase;
  color: #00aeef;
}


#main-content .right-col {
  width: 630px;
  margin-left: 10px;
}

#main-content .right-col #orders .table-cell {
  display: table-cell;
  width: 30%;
}

#main-content .right-col #orders .table-cell.center {
  width: 40%;
}

#main-content .right-col .table {
  margin-bottom: 0px;
  border-collapse: initial;
  border-spacing: 0px 1px;
}

#main-content .right-col .table thead tr {
  background-color: transparent !important;
}

#main-content .right-col .table th {
  padding-top: 6px;
  vertical-align: top;
  font-family: "Roboto", sans-serif;
  opacity: 0.7;
}

#main-content .right-col .table th:first-child {
  padding-left: 14px;
}

#main-content .right-col .table td {
  font-size: 13px;
  padding: 0px 3px 0px 8px;
  line-height: 20px;
}

#main-content .right-col .table tbody tr {
  height: 18px;
}

#main-content .right-col .table tbody tr td {
  border-top: none;
}

#main-content .right-col .table tr:nth-child(odd) {
  background-color: #28404e;
}


.uppercase {
  text-transform: uppercase;
}


.blue {
  color: #00aeef;
}


#graphik_blue {
  width: 577px;
  height: 243px;
  margin-left: 22px;
}
#graphik_blue .legend {
    display: none;
}


.tickLabel {
  font-size: 9px;
  width: 45px;
  height: 40px;
  line-height: 53px;
  opacity: 0;
  font-family: "Roboto", sans-serif;
}

.tickLabel.today {
  height: 229px;
  display: table;
  background-color: rgba(14, 24, 30, 0.53);
}

.tickLabel.today:hover {
  background-color: black;
}

.tickLabel.today span {
  color: #2fd5ff;
  display: table-cell;
  vertical-align: bottom;
  line-height: 30px;
}


.tickLabels {
  position: absolute;
  left: 8px;
}


canvas.base {
  position: absolute;
  z-index: 10;
}


#day, #week, #month {
  position: relative;
}

#day:before, #week:before, #month:before {
  position: absolute;
  top: 30px;
  left: 25px;
  width: 49px;
  height: 50px;
  z-index: 10;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  line-height: 17px;
}


#day:before {
  content: "За день";
}


#week:before {
  content: "За неделю";
}


#month:before {
  content: "За месяц";
}
