@media (min-width: 1000px) {

  .container {
    width: 1000px;
  }


  .left-col .blue-block {
    width: 360px;
    margin-left: 0px;
    float: none;
  }

}
@media (max-width: 1000px) {

  #graphics-container #sales {
    width: 100%;
  }

  #graphics-container .diagrams {
    text-align: center;
    width: 100%;
  }

  #graphics-container .diagrams > div {
    float: none;
    display: inline-block;
    margin-right: 10px;
    text-align: left;
  }

  #graphics-container #sales .grey-text {
    width: 100%;
    text-align: center;
  }

  #graphics-container #effect {
    width: 100%;
    margin-top: 40px;
    padding-left: 0px;
  }

  #graphics-container #effect #graphik_blue {
    margin: 0 auto;
  }


  .navy-block {
    text-align: center;
  }

  .navy-block span:last-child {
    margin-right: 0px;
  }


  #main-content .left-col {
    width: 100%;
  }

  #main-content .left-col .blue-block {
    float: left;
    min-height: 230px;
  }

  #main-content .left-col .blue-block:nth-child(odd) {
    margin-left: 0px;
  }

  #main-content .wrap-auto {
    margin: 0 auto;
    display: table;
  }

  #main-content .right-col {
    width: 100%;
    margin-left: 0px;
    margin-top: 30px;
  }
}
@media (max-width: 767px) {

  .row-fluid [class*="span"]#spent-time {
    width: 210px;
  }


  .row-fluid [class*="span"]#spent-time,
  .row-fluid [class*="span"]#with-swither {
    float: left;
  }
}
